<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meteocast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/primer/2.3.0/primer.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.css" />
</head>
<body>
  <main class="container text-center">
    <h1>Meteocast</h1>
    <p class="lead">
      A simple weather app built with Sinatra, <a href="http://primercss.io">Primer</a>, and <a href="https://github.com/dlt/yahoo_weatherman">Yahoo Weatherman</a>.
    </p>

    <form method="post" action="/" class="blankslate clean-background" style="padding-top: 0;">
      <div>
        <label for="zipcode">Find by Zipcode or City</label>
      </div>
      <input name="zipcode" type="text" placeholder="San Francisco, CA">
      <button type="submit" class="btn">Submit</button>
    </form>

    <hr>

    <footer>
      <p class="text-muted">
        A thing from <a href="https://lachlanjc.me/" class="tooltipped tooltipped-n" aria-label="Lachlan Campbell">@lachlanjc</a>.
      </p>
      <p><a href="https://github.com/lachlanjc/weather" class="octicon octicon-mark-github mega-octicon muted-link"></a></p>
    </footer>
  </main>
</body>
</html>
