<link rel="stylesheet" type="text/css" href="main.css" />

<h3>Weather</h3>
<p>A little weather app coded in Sinatra using <a href="https://github.com/dlt/yahoo_weatherman">Yahoo Weatherman</a>.</p>
<p>By <a href="https://github.com/tarans22">@tarans22</a> and forked from <a href="https://github.com/lachlanjc/weather/">lachlanjc/weather</a>.</p>

<form method='post' action="/">
	<input name="zipcode" type="number" placeholder="Zipcode">
	<button type="submit">Submit</button>
</form>
