<link rel="stylesheet" type="text/css" href="main.css" />

<h3>Looking for the weather?</h3>
<p>Head over to <a href="weather">/weather</a> or click the button below.</p>

<a href="weather">
  <button>
    Go to Weather
  </button>
</a>
