body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-weight: 300;
  letter-spacing: 0.02rem;
  color: #CCC;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h1 {
  font-size: 8em;
  font-weight: 100;
}

h3 {
  margin-top: 1em;
  font-weight: 300;
  font-size: 2em;
  text-transform: capitalize;
}

h5 {
  text-transform: uppercase;
}

a { text-decoration: none; }
p a, span a, blockquote a, h1 a, h2 a, h3 a { color: #13A6FA; }

button {
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFF;
  background-color: #13A6FA;
  border: 0;
  border-radius: 0.66em;
  padding: 0.66em;
}
input {
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 0;
  border-bottom: solid 2px #d3d3d3;
  padding: 0.66em;
  outline: 0;
}
.container {
  width: 66%;
  margin: auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.location {
  text-align: center;
}
.panel {
  margin: 2em 2em 0 0;
  padding: 1em;
  border-radius: 1.66em;
  display: block;
}
.panel:last-child { margin-right: 0; }

